"""
Configure:
  Requires XMSLERVICE library installed, see following link installation 
  http://yips.idevcloud.com/wiki/index.php/XMLService/XMLSERVICE

Transports:
  1) XMLSERVICE direct call (current job)
  from itoolkit.transport import DirectTransport
  itransport = DirectTransport()

  2) XMLSERVICE db2 call
  from itoolkit.transport import DatabaseTransport

  # Connect to any PEP-249 compliant driver which can call XMLSERVICE stored procedures
  # eg. ibm_db_dbi
  import ibm_db_dbi
  conn = ibm_db_dbi.connect()

  # eg. or PyODBC
  import pyodbc
  conn = pyodbc.connect('DSN=mydsn;UID=...')

  itransport = DatabaseTransport(conn)

  3) XMLSERVICE http/rest/web call (Apache job)
  from itoolkit.transport import HttpTransport
  itransport = HttpTransport(url, user, password)

  4) XMLService ssh call
  import paramiko
  ssh = paramiko.SSHClient()
  ssh.set_missing_host_key_policy(paramiko.WarningPolicy())
  ssh.connect("hostname", username="username", password="password")
  itransport = SshTransport(ssh)
"""
from itoolkit.transport import DirectTransport
itransport = DirectTransport()
# itransport = DirectTransport("*here *cdata *debug") # i will stop, inquiry message qsysopr

